@charset "utf-8";

$baseColor: #fffde7;
$mainColor: #2f2d32;
$accentColor01: #aed581;
$accentColor02: #616161;
$colorWhite: #ffffff;
$fontXs: 1.4rem;
$fontSm: 1.6rem;
$fontMd: 1.8rem;
$fontLg: 2.4rem;
$fontXl: 3.6rem;

@mixin radius($val: 6px) {
    border-radius: $val;
}

@mixin btnSize($width: 220px, $height: 45px) {
    width: $width;
    height: $height;
    line-height: $height;
}

@mixin bgDarken($color) {
    &:hover {
        background-color: darken($color, 10%);
    }
}

@mixin bgLighten($color) {
    &:hover {
        background-color: lighten($color, 10%);
    }
}

@mixin flex {
    display: flex;
}

@mixin mediaMd($widthMediaMd: 768px) {
    @media screen and (max-width: $widthMediaMd) {
        @content;
    }
}

@mixin mediaSm($widthMediaSm: 414px) {
    @media screen and (max-width: $widthMediaSm) {
        @content;
    }
}
