@charset "utf-8";

$baseColor: #FFFDE7;
$mainColor: #2F2D32;
$accentColor01: #AED581;
$accentColor02: #616161;
$colorWhite: #FFFFFF;
$fontXs: 1.4rem;
$fontSm: 1.6rem;
$fontMd: 1.8rem;
$fontLg: 2.4rem;
$fontXl: 3.6rem;

@mixin radius($val: 6px) {
    border-radius: $val;
}

@mixin btnSize($width: 220px, $height: 45px){
    width: $width;
    height: $height;
    line-height: $height;
}

@mixin flex {
    display: flex;
}

@mixin mediaMd($widthMediaMd: 768px) {
    @media screen and (max-width: $widthMediaMd) {
        @content;
    }
}

@mixin mediaSm($widthMediaSm: 414px){
    @media screen and (max-width: $widthMediaSm) {
        @content;
    }
}