@charset "utf-8";
@import "foundation/**";
@import "modules/**";

.add_song {
    margin: 30px auto;
    @include mediaMd {
        width: 90%;
        margin: 14px 20px;
    }
}

.add_title {
    margin-bottom: 25px;
    font-size: $fontXl;
    text-align: center;
    @include mediaMd {
        font-size: $fontMd;
        text-align: left;
    }
}

.add_list {
    li {
        margin-bottom: 10px;
        @include mediaMd {
            margin-bottom: 14px;
        }
        &:nth-last-child(2) {
            margin-bottom: 15px;
            @include mediaMd {
                margin-bottom: 20px;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    @include mediaMd {
        width: 100%;
    }
}

.caption_mb {
    margin-bottom: 7px;
}

.form_lg {
    width: 300px;
    height: 30px;
    @include mediaMd {
        width: 100%;
        height: 40px;
    }
}

.select_size {
    width: 107px;
    height: 30px;
    @include mediaMd {
        width: 142px;
        height: 40px;
    }
}

textarea {
    width: 300px;
    height: 127px;
    @include mediaMd {
        width: 100%;
        height: 170px;
    }
}
