@charset "utf-8";
@import "foundation/**";
@import "modules/**";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

html {
    font-size: 10px;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    color: $mainColor;
}

/* HACK:フッターを固定するならそれに相応しいクラス名にする */
main {
    /* フッターを固定 */
    flex: 1;
}

footer {
    height: 45px;
    background-color: $accentColor01;
}

.copyright {
    margin-right: 45px;
    /* テキストを右寄せにし、右マージンを45px空ける */
    margin-left: auto;
}

/* 汎用クラス */
.wrapper {
    flex-flow: column;
    min-height: 100vh;
    background-color: $baseColor;
    /* フッターを固定 */
    @include flex;
}

.center {
    text-align: center;
}

.fz16 {
    font-size: $fontSm;
}

.fz18 {
    font-size: $fontMd;
}

.fz24 {
    font-size: $fontLg;
}

.fz36 {
    font-size: $fontXl;
}

.warning {
    color: #ff0000;
}

.page_title_space {
    margin: 75px 0 53px 0;
}

.sp_space {
    margin: 0;
}

/* スマホ用スタイル */
@media screen and (max-width: 414px) {
    .page_title_space {
        margin: 26% 0 11% 0;
    }

    .sp_space {
        margin: 0 10%;
    }
}
