@charset "utf-8";
@import "reset";
@import "settings";
@import "layouts";
@import "menu";
@import "form";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

html {
    font-size: 10px;
}

body {
    color: $mainColor;
    font-family: 'Noto Sans JP', sans-serif;
}

/* HACK:フッターを固定するならそれに相応しいクラス名にする */
main {
    /* フッターを固定 */
    flex: 1;
}

footer {
    background-color: $accentColor01;
    height: 45px;
}

.copyright {
    /* テキストを右寄せにし、右マージンを45px空ける */
    margin-left: auto;
    margin-right: 45px;
}

/* 汎用クラス */
.wrapper {
    background-color: $baseColor;
    /* フッターを固定 */
    @include flex;
    flex-flow: column;
    min-height: 100vh;
}

.center {
    text-align: center;
}

.fz16 {
    font-size: $fontSm;
}

.fz18 {
    font-size: $fontMd;
}

.fz24 {
    font-size: $fontLg;
}

.fz36 {
    font-size: $fontXl;
}

.warning {
    color: #FF0000;
}

.page_title_space {
    margin: 75px 0 53px 0;
}

.sp_space {
    margin: 0;
}

/* スマホ用スタイル */
@media screen and (max-width: 414px) {
    .page_title_space {
        margin: 26% 0 11% 0;
    }

    .sp_space {
        margin: 0 10%;
    }
}
