@charset "utf-8";
@import "reset";
@import "settings";
@import "form";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

html {
    font-size: 10px;
}

body {
    color: $mainColor;
    font-family: 'Noto Sans JP', sans-serif;
}

/* HACK:フッターを固定するならそれに相応しいクラス名にする */
main {
    /* フッターを固定 */
    flex: 1;
}

footer {
    background-color: $accentColor01;
    height: 45px;
}

.copyright {
    /* テキストを右寄せにし、右マージンを45px空ける */
    margin-left: auto;
    margin-right: 45px;
}

/* 汎用クラス */
.wrapper {
    background-color: $baseColor;
    /* フッターを固定 */
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.center {
    text-align: center;
}

.fz16 {
    font-size: $fontSm;
}

.fz18 {
    font-size: $fontMd;
}

.fz24 {
    font-size: $fontLg;
}

.fz36 {
    font-size: $fontXl;
}

@mixin flexCenter {
    @include flex;
    align-items: center;
    justify-content: center;
}

.flex {
    @include flex;
}

.fd_column {
    flex-direction: column;
}

.jc_center {
    justify-content: center;
}

.jc_s_between {
    justify-content: space-between;
}

.jc_end {
    justify-content: flex-end;
}

.ai_center {
    align-items: center;
}

.ai_end {
    align-items: flex-end;
}

.warning {
    color: #FF0000;
}

.page_title_space {
    margin: 75px 0 53px 0;
}

.sp_space {
    margin: 0;
}

.margin_auto {
    margin: 0 auto;
}

.pull_right {
    float: right;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

/* メニュー */
.header {
    background-color: $accentColor01;
    height: 80px;
}

.title {
    font-size: $fontXl;
    padding: 0 48px;
}

.sp_menu {
    display: none;
}

.menu {
    background-color: $accentColor02;
    font-size: $fontLg;
    flex-direction: row;
    /* h1を引いた幅 */
    width: calc(100% - 312px);
    height: 100%;
}

.menu_inner {
    border-right: 1px solid $colorWhite;
    /* align-items: stretchを使うためにdisplay:flexを設定する */
    @include flexCenter;
    text-align: center;
    width: 33%;
    min-height: 80px;
}

.menu_inner:last-child {
    border-right: none;
}

.menu_item {
    color: $colorWhite;
    @include flexCenter;
    width: 100%;
    min-height: 80px;
}

/* タブレット用スタイル */
@media screen and (max-width: 768px) {
    .header {
        height: 64px;
        justify-content: space-between;
        position: relative;
    }

    .title {
        font-size: $fontLg;
        padding: 0 20px;
    }

    .sp_menu {
        display: block;
        margin-right: 20px;
    }

    .menu {
        display: none;
        font-size: $fontMd;
        flex-direction: column;
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        height: auto;
    }

    .menu_inner {
        border-right: none;
        border-bottom: 1px solid $colorWhite;
        width: 100%;
        min-height: 60px;
    }

    .menu_item {
        justify-content: flex-end;
        padding-right: 20px;
        min-height: 60px;
    }
}
/* スマホ用スタイル */
@media screen and (max-width: 414px) {
    .page_title_space {
        margin: 26% 0 11% 0;
    }

    .sp_space {
        margin: 0 10%;
    }
}