@charset "utf-8";
@import "settings";

.detail {
    margin: 53px 48px;
    @include mediaMd {
        width: 88%;
        margin: 60px 6%;
    }
}

.detail_table {
    margin: 30px auto;
    background-color: $colorWhite;
    border: 1px solid $accentColor02;
}

.tr {
    @include flex;
    min-height: 34px;
    padding: 8px 0;
    border-bottom: 1px solid $accentColor02;
    &:last-child {
        border-bottom: none;
    }
    @include mediaMd {
        flex-direction: column;
        padding: 8px 0;
    }
}

@mixin cellSize {
    width: 100%;
    padding: 0 13px;
}

.th {
    width: 27%;
    padding-left: 13px;
    @include mediaMd {
        @include cellSize;
    }
}

.td {
    width: 73%;
    padding-right: 13px;
    @include mediaMd {
        @include cellSize;
    }
}

.del_btn_mr {
    margin-right: 20px;
}
