@charset "utf-8";
@import "settings";

.login_list {
    li {
        margin-bottom: 30px;
        &:nth-last-child(2) {
            margin-bottom: 45px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.login_caption_space {
    margin-bottom: 10px;
}
