@charset "utf-8";
@import "foundation/**";
@import "modules/**";

.main_title_space {
    padding: 75px 0;
    @include mediaMd {
        padding: 100px 0 50px 0;
    }
}

.top_image {
    display: block;
    width: 19%;
    height: auto;
    @include mediaMd {
        display: none;
    }
}

.trouble_list {
    margin-bottom: 15px;
    @include mediaMd {
        order: 2;
        margin-bottom: 40px;
    }
}

.trouble_list_space {
    @include mediaMd {
        margin-bottom: 10px;
    }
}

.top_caption {
    margin-bottom: 15px;
    @include mediaMd {
        order: 1;
        margin-bottom: 30px;
    }
}

.login_area {
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 75px;
    @include mediaMd {
        flex-direction: column;
        align-items: center;
    }
}

.login_btn_space {
    margin-right: 8%;
    @include mediaMd {
        margin-right: 0;
        margin-bottom: 40px;
    }
}

.login_caption_space {
    margin-bottom: 15px;
}
