@charset "utf-8";
@import "settings";

.mochiuta_wrap {
    width: 90%;
    margin: 45px auto;
    @include mediaMd {
        margin: 54px auto;
    }
}

.variable_btn {
    @include btnSize();
    @include mediaMd {
        @include btnSize(72px, 35px);
    }
}

.hide_text {
    @include mediaMd {
        display: none;
    }
}

.mochiuta_list {
    margin: 23px auto;
    font-size: $fontMd;
    border: 1px solid $accentColor02;
    @include mediaMd {
        margin: 15px auto 12px;
        font-size: $fontXs;
    }
}

.tr {
    align-items: center;
    width: 100%;
    height: 36px;
    background-color: $colorWhite;
    border-bottom: 1px solid $mainColor;
    @include flex;
    &:last-child {
        border-bottom: none;
    }
}

.td {
    padding-left: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    $widthList: 40%, 30%, 16%, 14%;
    $i: 1;
    @each $width in $widthList {
        &:nth-child(#{$i}) {
            width: #{$width};
            @if $i == 4 {
                text-align: center;
            }
        }
        $i: $i + 1;
    }
    @include mediaMd {
        $widthList: 30%, 30%, 30%, 10%;
        $i: 1;
        @each $width in $widthList {
            &:nth-child(#{$i}) {
                width: #{$width};
                padding-left: 7px;
                @if $i == 4 {
                    text-align: left;
                    padding-left: 0;
                }
            }
            $i: $i + 1;
        }
    }
}

.thead {
    background-color: $accentColor01;
    border-bottom: none;
}

.tbody {
    height: 180px;
    overflow-y: scroll;
}

.detail_icon {
    width: 18px;
    height: auto;
    @include mediaMd {
        width: 16px;
    }
}

.icon_inline {
    margin: 0 2px;
    vertical-align: middle;
}

.note_detail {
    margin-bottom: 15px;
}
