@charset "utf-8";
@import "../foundation/_settings";

.btn {
    @include radius();
    display: block;
    text-align: center;
}

// rename
.btn_big {
    @include btnSize();
}

.btn_sm {
    @include btnSize(72px, 35px);
}

input:not([type="button"]):not([type="submit"]) {
    text-indent: 1em;
}

input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    @include radius();
}

.primary_btn {
    color: $mainColor;
    background-color: $accentColor01;
    @include bgDarken($accentColor01);
}

.secondary_btn {
    color: $baseColor;
    background-color: $accentColor02;
    @include bgLighten($accentColor02);
}

.form_border {
    border: 1px solid $mainColor;
    @include radius();
}

.form_size {
    width: 220px;
    height: 30px;
}

.border_reset {
    border: none;
}

.pointer {
    cursor: pointer;
}

textarea {
    padding: 10px;
}
