.mochiuta_wrap {
  width: 90%;
  margin: 45px auto;
}
@media screen and (max-width: 768px) {
  .mochiuta_wrap {
    margin: 54px auto;
  }
}

.variable_btn {
  width: 220px;
  height: 45px;
  line-height: 45px;
}
@media screen and (max-width: 768px) {
  .variable_btn {
    width: 72px;
    height: 35px;
    line-height: 35px;
  }
}

@media screen and (max-width: 768px) {
  .hide_text {
    display: none;
  }
}

.mochiuta_list {
  border: 1px solid #616161;
  font-size: 1.8rem;
  margin: 23px auto;
}
@media screen and (max-width: 768px) {
  .mochiuta_list {
    font-size: 1.4rem;
    margin: 15px auto 12px;
  }
}

.tr {
  background-color: #FFFFFF;
  border-bottom: 1px solid #2F2D32;
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
}
.tr:last-child {
  border-bottom: none;
}

.td {
  padding-left: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.td:nth-child(1) {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .td:nth-child(1) {
    padding-left: 7px;
    width: 30%;
  }
}
.td:nth-child(2) {
  width: 30%;
}
@media screen and (max-width: 768px) {
  .td:nth-child(2) {
    padding-left: 7px;
    width: 30%;
  }
}
.td:nth-child(3) {
  width: 16%;
}
@media screen and (max-width: 768px) {
  .td:nth-child(3) {
    padding-left: 7px;
    width: 30%;
  }
}
.td:nth-child(4) {
  width: 14%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .td:nth-child(4) {
    padding-left: 7px;
    width: 10%;
    text-align: left;
    padding-left: 0;
  }
}

.thead {
  border-bottom: none;
  background-color: #AED581;
}

.tbody {
  height: 180px;
  overflow-y: scroll;
}

.detail_icon {
  width: 18px;
  height: auto;
}
@media screen and (max-width: 768px) {
  .detail_icon {
    width: 16px;
  }
}

.icon_inline {
  margin: 0 2px;
  vertical-align: middle;
}

.note_detail {
  margin-bottom: 15px;
}