@charset "utf-8";

.mochiuta_wrap {
    width: 90%;
    margin: 45px auto;
}

.variable_btn {
    width: 220px;
    height: 45px;
    line-height: 45px;
}

/* タブレット用スタイル */
@media screen and (max-width: 768px) {
    .mochiuta_wrap {
        width: 89%;
        margin: 54px auto;
    }

    .variable_btn {
        width: 72px;
        height: 35px;
        line-height: 35px;
    }

    .hide_text {
        display: none;
    }
}