@charset "utf-8";

/* 新規登録ページ */
.reg_input_space {
    margin-bottom: 30px;
}

.reg_caption_space {
    margin-bottom: 10px;
}

.reg_list_space {
    margin-bottom: 45px;
}

.reg_par_mb {
    margin-bottom: 15px;
}

.reg_par_mb_lg {
    margin-bottom: 45px;
}

.reg_list > li {
    margin-bottom: 22px;
}

.reg_list > li:nth-last-child(2) {
    margin-bottom: 45px;
}

/* タブレット用スタイル */
@media screen and (max-width: 768px) {
    .reg_par_mb {
        margin-bottom: 5px;
    }
}

/* スマホ用スタイル */
@media screen and (max-width: 414px) {
    .reg_par_mb_lg {
        margin-bottom: 16%;
    }
}